In [2]:
def sq(x):
    return x**2

In [3]:
type(sq)

function

In [5]:
# Anonymous function

lambda x: x**2

In [6]:
f = sq

In [7]:
id(f), id(sq)

(4458070224, 4458070224)

In [8]:
f = lambda x: x**2

In [9]:
f(3)

9

In [10]:
f = lambda x, *args, y, **kwargs: (x, args, y, kwargs)

In [12]:
f(1, 'a', 'b', y=100, a=10, b=20)

(1, ('a', 'b'), 100, {'a': 10, 'b': 20})

In [14]:
def apply_func(x, fn):
    return fn(x)

In [15]:
apply_func(3, sq)

9

In [16]:
apply_func(3, lambda x: x**2)

9

In [18]:
# args - tuple, kwargs - dictionary

def apply_func(fn, *args, **kwargs):
    return fn(*args, **kwargs)

In [19]:
apply_func(sq, 3)

9

In [20]:
apply_func(lambda x: x**2, 3)

9

In [21]:
apply_func(lambda x, y : x+y, 1, 2)

3

In [24]:
apply_func(lambda x, *, y : x+y, 1, y=20)

21

In [32]:
apply_func(lambda *args: sum(args), 1, 2, 3, 4, 5)

15

In [30]:
# Because of args it expects tuple

apply_func(sum, (1, 2, 3, 4, 5))

15

In [33]:
# Lambda and Sorting

l = [1, 6, 2, 9, 3]
sorted(l)

[1, 2, 3, 6, 9]

In [34]:
l

[1, 6, 2, 9, 3]

In [35]:
l = ['c', 'B', 'D', 'a']
sorted(l)

['B', 'D', 'a', 'c']

In [36]:
ord('a')

97

In [37]:
ord('B')

66

In [39]:
sorted(l, key=lambda s: s.upper())

['a', 'B', 'c', 'D']

In [40]:
d = {'def': 300, 'abc': 200, 'ghi': 100}

In [41]:
for e in d:
    print(e)

def
abc
ghi

In [42]:
sorted(d)

['abc', 'def', 'ghi']

In [43]:
sorted(d, key=lambda e: d[e])

['ghi', 'abc', 'def']

In [46]:
def dist_sq(x):
    return (x.real)**2 + (x.imag)**2

In [47]:
dist_sq(1+1j)

2.0

In [48]:
l = [3+3j, 1-1j, 0, 3+0j]

In [49]:
sorted(l, key=dist_sq)

[0, (1-1j), (3+0j), (3+3j)]

In [51]:
sorted(l, key=lambda x: (x.real)**2 + (x.imag)**2)

[0, (1-1j), (3+0j), (3+3j)]

In [52]:
l = ['Cleese', 'Idle', 'Palin', 'Chapman', 'Gilliam', 'Jones']

In [53]:
sorted(l)

['Chapman', 'Cleese', 'Gilliam', 'Idle', 'Jones', 'Palin']

In [54]:
sorted(l, key=lambda s: s[-1])

['Cleese', 'Idle', 'Gilliam', 'Palin', 'Chapman', 'Jones']

In [55]:
l = ['Idle', 'Cleese', 'Palin', 'Chapman', 'Gilliam', 'Jones']

In [56]:
sorted(l, key=lambda s: s[-1])

['Idle', 'Cleese', 'Gilliam', 'Palin', 'Chapman', 'Jones']